.collapsible-body {
    padding: 0;
}

.tbody__collapsible-button {
    transition: background-color 0.2s ease-out;
    border-radius: 50%;
}

.tbody__collapsible-button:hover {
    background-color: #54545442;
}

.tbody__cell {
    border-bottom: 0.5px solid lightgrey;
}
