@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

.table-container {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    color: #343434;
}
